.search-container {
  background-color: var(--pink);
  border-radius: 7px;
  height: 25px;
  align-items: center;
  padding: 2px;
  border: none;
}

::placeholder {
  color: rgb(34, 34, 34);
}

.search-container:focus {
  outline: none;
}

.ingredient-container {
  background-color: var(--pink);
  border-radius: 7px;
  height: 25px;
  align-items: center;
  padding: 2px;
  border: none;
  margin-left: 15px;
}

.ingredient-container:focus {
  outline: none;
}

.fa-search {
  color: rgb(56, 56, 56);
}

.fa-search:hover {
  color: rgb(7, 7, 7);
  cursor: pointer;
}

.btn-success {
  background-color: rgb(165, 121, 121);
  border: none;
  border-radius: 7px;
  outline: none;
  margin-left: 15px;
}

.btn-success:hover {
  cursor: pointer;
  background-color: rgb(202, 108, 108);
}

.categories {
  border: none;
  background-color: var(--pink);
  border-radius: 7px;
  height: 28px;
  width: 200px;
  margin-left: 20px;
  color: rgb(34, 34, 34);
}

.categories:focus {
  outline: none;
}

.form {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  margin-top: 20px;
}
