<div class="categories-board">
  <app-search-bar [objectType]="2"></app-search-bar>
  <div class="title">Categories</div>
  <div class="create-category-route" routerLink="/create-category">
    <i class="fas fa-plus create-category-icon"></i>
  </div>
  <div class="list-strip">
    <div *ngFor="let category of categories" class="category">
      <div class="category-wrapper">
        <div class="category-name">{{category.name}}</div>
        <div class="container">
          <img src="{{category.imageUrl}}" class="image" (click)="setRecipesToShow(category)">
          <div *ngIf="!actionPressed; else Load" class="middle">
            <span class="text" routerLink="/edit-category/{{category._id}}">Edit</span>
            <span class="text" (click)="deleteCategory(category)">Delete</span>
          </div>
          <ng-template #Load>
            <div class="middle-pb">
              <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showRecipes" class="recipes">
    <span (click)="clearRecipes()"><i class="fas fa-window-close"></i></span>
    <app-small-recipe-list [title]="title" [recipes]="recipesToShow">
    </app-small-recipe-list>
  </div>
</div>
