<div class="title">{{title}}</div>
<div class="list-strip">
  <div *ngFor="let recipe of recipes" class="recipe">
    <div class="recipe-wrapper">
      <div class="recipe-name">{{recipe.name}}</div>
      <div class="container">
        <img src="{{recipe.image}}" class="image">
        <div class="middle">
          <span class="text" routerLink="/edit-recipe/{{recipe._id}}">Edit</span>
          <span class="text" (click)="deleteRecipe(recipe)">Delete</span>
        </div>
      </div>
    </div>
  </div>
</div>
