.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-small-recipe-list:not(:first-child) {
  margin-top: 20px;
}

app-search-bar {
  width: 210px;
  align-self: center;
}

.graph-container {
  display: flex;
  justify-content: center;
}
