<img src="{{recipe.imageUrl}}"/>

<div class="recipe-name">{{recipe.name}}</div>

<div>Ingredients:</div>

<div class="ingredient" *ngFor="let ingredient of recipe.ingredients">
  <div>{{ingredient.name}}</div>
  <div>{{ingredient.quantity}}</div>
  <div>{{ingredient.unit}}</div>
</div>

<div>Instructions:</div>

<div class="instruction" *ngFor="let instruction of recipe.instructions; index as stepNumber">
  <div class="step-number">{{stepNumber}}</div>
  <div class="instruction-text">{{instruction}}</div>
</div>
