.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: Ubuntu;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

.category-container {
  display: flex;
  align-items: center;
}

h3 {
  margin-right: 10px;
}

th, td {
  width: 100px
}

.ingredient-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

.instruction {
  display: flex;
  flex-direction: row;
}

.step-number {
  margin-right: 5px;
}
