<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="drawer-sidenav" mode="side" (clickOutside)="drawer.toggle()">
    <nav class="nav-list">
      <a class="button" routerLink="/home">Home</a>
      <a class="button" routerLink="/search-recipe">Search recipe</a>
    </nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header (burgerClick)="drawer.toggle()"></app-header>
    <div class="title">The Little Spoon</div>
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
